*{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
body{
    background-color: #FFFFFF;
    min-height: 100vh;
    margin: 10px;
}
textarea{
    resize: none !important;
}
.navbar{
    background-color: #F2F2F2 !important; 
}
.navbar .name h1{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    letter-spacing: .2rem;
    color: #333333;
    justify-content: center;
}

.main-page{
    margin-top: 10%;
}
.createbox form,.editbox form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 100vh;
}
.hidden{
    display: none;
}
.bg{
    background-color: green;
}
.blog-box{
    margin: 10px;
    padding: 10px;
    width: 100%;
}
.blog{
    background-color:#F5F5F5;
    color: #333333;
    width: 100%;
    text-align: start;
    padding: 40px;
    border-radius: 10px;
}
.blog-box ul{
    list-style-type: none;
}
.new-post-btn{
    background-color: #C7D2D7; 
    padding:10px;
    border-radius: 10px;
    display: flex;
    justify-content: last baseline;
    color: #FFFFFF;
}
.new-post-btn:hover,.new-post:hover{
    background-color: #B2C2CB;
}
.svg12{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    margin: auto;
}
.new-post{
    background-color: #C7D2D7; 
    border-radius: 10px;
}
.new-post svg{
    padding: 0;
    margin: 0;
    border-radius: 10px;
}
.newpost-box{
    display: flex;
    flex-direction: row-reverse;
    padding: 0 50px;
    
}
form button{
    border: none;
    background-color:#C7D2D7;
    margin: 10px;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 10px;
}
button:hover{
    background-color: #B2C2CB;
}
.btn-container{
    display: flex;
    justify-content: space-between;
}